/* @import "bootstrap/dist/css/bootstrap.css"; */

#idOutputBox {
    width: 85%;
}

#vertical-bar {
    width: 8%;
    color: white;
    background: #333;
    overflow: hidden;
    padding: 4px;
}

#output-wrapper {
    height: 60vh;
    display: flex;
}