/* @import "bootstrap/dist/css/bootstrap.css"; */

#idOutputBox {
    width: 85%;
}

#vertical-bar {
    width: 8%;
    color: white;
    background: #333;
    overflow: hidden;
    padding: 4px;
}

#output-wrapper {
    height: 60vh;
    display: flex;
}

.margin-20 {
    margin: 20px;
}

#filter-response {
    width: 60%;
}

#multi-input {
    width: 50%;
    height: 50px;
}