/* @import "bootstrap/dist/css/bootstrap.css"; */

.header-title {
    background: #ffdc9c;
    padding: 1rem;
}

#idOutputBox {
    width: 85%;
}

#vertical-bar {
    width: 8%;
    color: white;
    background: #333;
    overflow: hidden;
    padding: 4px;
}

#output-wrapper {
    height: 60vh;
    display: flex;
}

.margin-20 {
    margin: 20px;
}

#multi-input {
    width: 50%;
    height: 50px;
}

.box-input {
    border-radius: 5px;
    border: 1px solid #333;
    padding: 15px;
}

.width-80 {
    width: 80%;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}