<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Suite App - Json Prettifier, Json formatter with functionality to filter json properties by name and dataType and also format json with choosing number of spaces </title>
    <meta name="description" content="giving you the functionality to format or prettify or pretty print your json. we also give functionality to filter json properties by name and also filter by data type. You have a choice spaces in formatted json.">
    <!-- <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script> -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/json.css">
    <script src="/js/json.js" defer></script>
</head>

<body>
    <div class="col-12">
        <div class="row">
            <div class="col-12 text-center header-title mb-3">
                <h3>JSON Prettifier</h3>
            </div>
            
            <div class="col-6">
               <div class="form-group margin-20">
                    <div for="dropdownMenuButton" class="margin-bottom-10"><strong>Enter Property </strong>(comma separated)</div>
                    <input type="text" class="box-input" name="multi-input" id="multi-input">
               </div>
            </div>

            <div class="col-6">
                <div class="row margin-20">
                    <div class="col-6">
                        <div class="form-group">
                            <div for="dropdownMenuButton" class="margin-bottom-10"><strong>Output Filter</strong></div>
                            <select name="filter-response" class="box-input width-80">
                                <option value="select">Select</option>
                                <option value="string">String</option>
                                <option value="boolean">Boolean</option>
                                <option value="number">Number</option>
                                <option value="object">Object</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="col-6">
                        <div for="indentation" class="margin-bottom-10"><strong>Indentation</strong></div>
                        <select name="cars" id="IdSpaces" class="box-input width-80" onchange="fnSetSpace()">
                            <option value="select">Select</option>
                            <option value="1">Space Tab 1</option>
                            <option value="2">Space Tab 2</option>
                            <option value="3">Space Tab 3</option>
                            <option value="4">Space Tab 4</option>
                            <option value="5">Space Tab 5</option>
                            <option value="6">Space Tab 6</option>
                            <option value="3">Space Tab 7</option>
                            <option value="4">Space Tab 8</option>
                            <option value="5">Space Tab 9</option>
                            <option value="6">Space Tab 10</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group margin-20">
                    <label for="exampleFormControlTextarea1">Input</label>
                    <textarea style="width:95%;height: 60vh;border-radius: 5px;" class="form-control" name="dataInput" id="idInputBox" placeholder="paste the JSON response here"></textarea>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group margin-20">
                    <label for="exampleFormControlTextarea1">Output</label>
                    <div id="output-wrapper">
                        <div id="vertical-bar"></div>
                        <textarea name="outputBox" id="idOutputBox" readonly>
                        </textarea>
                    </div>
                    <!-- <pre id="idOutputBox"></pre> -->
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 text-center">
        <button type="button" class="btn btn-success" onclick="fnPrettify()">Submit</button>
    </div>
    <!-- <script src="jquery/dist/jquery.js" charset="utf-8"></script>
    <script src="popper.js/dist/popper.js" charset="utf-8"></script>
    <script src="bootstrap/dist/js/bootstrap.js" charset="utf-8"></script> -->
</body>

</html>