<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Json Prettifier</title>

    <link rel="stylesheet" href="/scss/app.scss">
    <script src="/js/main.js" defer></script>

</head>
<body>
    <div class="col-12">
        <div class="row">
            <div class="col-12 text-center mt-5">
                <h5>JSON Prettifier</h5>
            </div>
            <div class="col-6">
                <div class="form-group" style="margin: 20px;">
                    <label for="exampleFormControlTextarea1">Input</label>
                    <textarea style="width:95%;height: 60vh;border-radius: 5px;" class="form-control" name="dataInput" placeholder="paste the JSON response here"></textarea>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group" style="margin: 20px;">
                    <label for="exampleFormControlTextarea1">Output</label>
                    <textarea style="width:95%;height: 60vh;border-radius: 5px;" class="form-control" name="dataInput" placeholder="paste the JSON response here"></textarea>
                </div>
            </div>
        </div>
    
    </div>
    <div class="col-12 text-center">
        <button type="button" class="btn btn-success">Submit</button>
    </div>
</body>
</html>